@font-face {
    font-family: valorant;
    src: url("../../../resource/fonts/valorant.ttf");
}

@font-face {
    font-family: roboto-regular;
    src: url("../../../resource/fonts/robotoregular.ttf");
}

@font-face {
    font-family: roboto-mono;
    src: url("../../../resource/fonts/robotomono.ttf");
}

* {
    box-sizing: border-box;
    font-family: Roboto Mono, Arial;
}

html,
body {
    margin: 0;
    padding-top: 10px;
    background: #000;
}

h2{
    color: #fff;
}
h1{
    color: #fff;
}

.break {
    width: 100%;
    display: block;
}

header{
    height: 100px;
    background: whitesmoke;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    transition: background-color 200ms linear;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.logo{
    position: absolute;
    z-index:10000;
}

.navbar a:hover{
    color: rgb(175, 175, 175);
    transition: 0.6s all ease;
}

.fullText:hover ul{
    left:0px;
    transition-delay: 0.1s;
}

.fulltext ul{
    position: absolute;
    list-style-type: none;
    transition-delay: 2s;
    left:-9999px;
    color: white;
    text-decoration: none;
    background-color: whitesmoke;
    padding:5px;
}
.fulltext ul li{
    padding-top: 15px;
}

.fullText {
    justify-content: center;
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 20px;
    position: relative;
}


.rosterMain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.players {
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.playerRow{
    align-items: center;
}

.playerCard{
    margin-top: 30px;
    position: relative;
    cursor: pointer;
    height: 500px;
    width: 550px;
    overflow: hidden;
    border-radius: 5px;
}

.playerInfoCont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.playerName {
    font-size: 60px;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.playerRole {
    font-size: 40px;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

#gameTitle {
    text-align: center;
    font-size: 100px;
    color: #fff;
    margin: 80px;
}

#awardsTitle {
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.lazyDisclaimer {
    width: 100%;
    font-size: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 80px;
}

.team {
    width: 500px;
    border-radius: 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 10px;
}

.personIMG{
    position: relative;
    height:100%;
    margin:3px;
}

.placeholderCard {
    width: 600px;
}

#bteam {
    margin-top: 10px;
}

#ateam {
    margin-top: 10px;
}

#awards {
    font-size: 16px;
    color: #fff;
}
img.grayscaleZoom {
    -webkit-filter: grayscale(100%); 
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
}
  
.playerCard:hover img.grayscaleZoom {
    filter: none;
    -webkit-filter: grayscale(0%);
}

@media screen and (max-width: 767px) {
    .playerCard {
        height: 300px;
        width: 330px;
    }
    .playerRole {
        visibility: hidden;
    }
    .playerName {
        font-size: 50px;
    }
}