@font-face {
    font-family: valorant;
    src: url("../../../resource/fonts/valorant.ttf");
}

@font-face {
    font-family: roboto-regular;
    src: url("../../../resource/fonts/robotoregular.ttf");
}

@font-face {
    font-family: roboto-mono;
    src: url("../../../resource/fonts/robotomono.ttf");
}

* {
    box-sizing: border-box;
    font-family: Roboto Mono, Arial;
}

html,
body {
    margin: 0;
    padding-top: 10px;
    background: #000;
}

h2{
    color: #fff;
}
h1{
    color: #fff;
}

.break {
    width: 100%;
    display: block;
}

.dropdownCont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.dropDown {
    width: 170px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid rgb(90, 90, 90);
}

.rosterMain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.players {
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.playerRow{
    align-items: center;
}

.playerCard{
    margin-top: 30px;
    position: relative;
    cursor: pointer;
    height: 500px;
    width: 550px;
    overflow: hidden;
    border-radius: 5px;
}

.playerInfoCont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.playerName {
    font-size: 60px;
    color: #fff;
}

.playerRole {
    font-size: 40px;
    color: #fff;
}

#gameTitle {
    text-align: center;
    font-size: 100px;
    color: #fff;
    margin: 30px;
}

#awardsTitle {
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.lazyDisclaimer {
    width: 100%;
    font-size: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 80px;
}

.team {
    width: 500px;
    border-radius: 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 10px;
}

.personIMG{
    position: relative;
    height:100%;
    margin:3px;
}

.placeholderCard {
    width: 600px;
}

#bteam {
    margin-top: 10px;
}

#ateam {
    margin-top: 10px;
}

#awards {
    font-size: 16px;
    color: #fff;
}
img.grayscaleZoom {
    -webkit-filter: grayscale(100%); 
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
}
  
.playerCard:hover img.grayscaleZoom {
    filter: none;
    -webkit-filter: grayscale(0%);
}

@media screen and (max-width: 767px) {
    .playerCard {
        height: 300px;
        width: 330px;
    }
    .playerRole {
        visibility: hidden;
    }
    .playerName {
        font-size: 50px;
    }
}