@font-face {
    font-family: valorant;
    src: url("../../../resource/fonts/valorant.ttf");
}

@font-face {
    font-family: roboto-regular;
    src: url("../../../resource/fonts/robotoregular.ttf");
}

@font-face {
    font-family: roboto-mono;
    src: url("../../../resource/fonts/robotomono.ttf");
}

* {
    box-sizing: border-box;
    font-family: Roboto Mono, Arial;
}

html,
body {
    margin: 0;
    padding-top: 10px;
    background: #000;
}

h2{
    color: #fff;
}
h1{
    color: #fff;
}

.about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#aboutTitle{
    font-size: 100px;
    margin-top: 80px;
    margin-left: 50px;
    color: #fff;
    text-align: center;
}

.leadership{
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.leadershipCard{
    margin-top: 30px;
    position: relative;
    cursor: pointer;
    height: 500px;
    width: 550px;
    overflow: hidden;
    border-radius: 5px;
}

.leadershipImg{
    height:600px;
    width:530px;
    margin:3px;
    position: relative;
}

.leadershipInfoCount{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.name{
    font-size: 56px;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.role {
    font-size: 40px;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.description{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 50px;
}

header{
    height: 100px;
    background: whitesmoke;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    transition: background-color 200ms linear;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.logo{
    position: absolute;
    z-index:10000;
}

.navbar a:hover{
    color: rgb(175, 175, 175);
    transition: 0.6s all ease;
}

.fullText:hover ul{
    left:0px;
    transition-delay: 0.1s;
}

.fulltext ul{
    position: absolute;
    list-style-type: none;
    transition-delay: 2s;
    left:-9999px;
    color: white;
    text-decoration: none;
    background-color: whitesmoke;
    padding:5px;
}
.fulltext ul li{
    padding-top: 15px;
}

.fullText {
    justify-content: center;
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 20px;
    position: relative;
}