.partnersContainer {
    width: 100%;
    min-height: 800px;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.partnersNotice {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Anybody';
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 50px;
    margin-top: 50px;
}