/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@600&display=swap'); /* Anybody */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: #000;
}